# Python
venv/
venv_wsl/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/


node_modules/
.next/
out/
.env
.env.local
.env.*.local


.vscode/
.idea/
*.swp
*.swo


code/model_judgement/
code/model_summary/


code/data_judgement/
code/data_sum/


*.log
logs/


.DS_Store
Thumbs.db